*{margin:0px; padding: 0px;}
body { background-color: #fff; color: #333; }


body, p, ol, ul, td {
  font-family: helvetica, verdana, arial, helvetica, sans-serif;
  font-size:   12px;
  line-height: 20px;
}

input {margin: 0px; padding: 0px;}

#notice {
  color: green;
}

/* Form Elements */
/* Actions & Fields */
.actions, .field{padding:10px; }
.actionsFirst, .fieldFirst{padding:0 10px 10px 10px;}
.actionsLast, .fieldLast{padding: 10px 10px 0px 10px;}
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
/* input elements */
::-webkit-input-placeholder {color:#aaa; font-style: italic; font-family: Georgia;}




input{padding:10px 5px;; border: 1px solid #ccc; margin: 5px 0px;; -webkit-box-shadow: 0px -1px 0px #bbb;}
input:focus{border:1px solid #267fc8; -webkit-box-shadow: 0px -1px 0px #;}
textarea{padding:10px 5px;; border: 1px solid #ccc; margin: 5px 0px; -webkit-box-shadow: 0px -1px 0px #bbb;}
textarea:focus{border:1px solid #267fc8; -webkit-box-shadow: 0px -1px 0px #bbb;}
.preview textarea, .body textarea {height: 60px; width: 100%;}
.body textarea{height: 150px;}
/* text styles */
h1{font-size: 35px; font-weight: bold;}
h2{font-size: 30px; font-weight: bold;}

/* Buttons & Links */
a{color: #333; text-decoration: none;}
a:hover {color: #666;}

.button {
	display: inline-block;
	background: white;
	border: 1px solid #aaa;
	cursor: pointer;
	overflow: hidden;
	white-space: nowrap;
	color: #333;
	font-weight: normal;
	padding: 10px;
	font-size: 12px;
	font-weight: 600;
	line-height: 1em;
	text-align: center;
	vertical-align: middle;
	-moz-box-shadow: 0 0 .25em rgba(0, 0, 0, .2);
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	text-decoration: none !important;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#efefef), to(#bbbbbb));
	text-shadow: 0px 1px 0px #fff;
}

.button:hover{
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#ccc));
	-webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, .6);
	
}

.nav li {padding: 15px;}
.nav li:hover{background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#000), to(#333)); text-shadow:1px solid #121212; border-left: 1px solid #333; border-right: 1px solid #333;}

#header a{color:#fff; text-decoration: none;}
#header{background:#000; height:50px; margin-bottom: 20px; border-bottom: 1px solid #535353; -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, .9); background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#333), to(#000)); }
#id h1{font-size: 25px; font-weight: normal; padding:10px 0; color:#fff;}
#header ul, #header li {display: inline; float: right;}
td{padding:20px;}
li{padding:10px;  list-style:none;}
#itemName{font-weight: bold; font-size: 14px;}
#wrapper{margin: auto; width: 800px; border: 1px solid #ccc; padding: 20px;}
.todoItem{width:600px; margin-left:100px;}
#itemDescription{color:#666;}
.liInline{padding:20px;}
.liInline ul {display: inline;}
.liInline ul li {display: inline;}
.due{font-weight: bold; color: #666;}
.mod{margin: 10px 0px;}
.hd{padding-bottom: 10px;}
.bd{padding:10px;}
.f-right{float:right;}
.wrapper{margin-top: 40px;}
#entries{height: 400px; background: lime; overflow: scroll;}
#formModal{padding:20px; margin: auto;}

/* form Grids */
.formWrapper{width:650px; margin-left: auto; margin-right: auto;}
	.formGrid_1, .formGrid_2, .formGrid_3 {display:inline;float:left;position:relative;margin-left:5px;margin-right:5px;}
	.formGrid_1{width:200px;}
	.formGrid_2{width: 400px;}
	.formGrid_3{width:600px;}
/* Tables */
table{background: #efefef;}
thead {background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#efefef), to(#aaa)); text-shadow: 0px 1px 0px #fff; color: #333;}
thead tr th {height: 30px; border: 1px solid #ccc;  border-bottom: 1px solid #efefef; padding-top: 10px; }
tbody tr td {height: 15px; overflow: hidden; border: 1px solid #ccc; -webkit-box-shadow: 0px 2px 0px #fff;}